@use '~@angular/material' as mat;

@include mat.core();

// Define a light theme
$theme-primary: mat.define-palette(mat.$brown-palette);
$theme-accent: mat.define-palette(mat.$grey-palette);
$theme-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn
  )
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
  )
));

@include mat.all-component-themes($light-theme);

// Apply the light theme only when the `.dark-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
