.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 128px;
    height: 48px;

    .mat-icon {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .sidenav-container {
    top: 56px;
  }
}
