
img {
  margin: 0 auto;
  max-width: 100%;
  width: 60%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
}

a {
  padding-top: 1rem;
  color: #795548;
  font-size: 18px;
}
