
.d-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.beige-color {
  color: #A18275
}
.m-0 {
  margin: 0;
}
form {
  margin: 2rem;
}
button {
  background-color: #E6C9AB;
}

img {
  margin: 0 auto;
  max-width: 100%;
  width: 30%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
}
