<mat-card>
  <div class="d-flex-center">
    <mat-card-title class="beige-color"> Explore NASA`s expeditions to Mars</mat-card-title>
    <img mat-card-image src="assets/img.png">
  </div>
  <mat-card-content>
    <div class="d-flex-center">
      <form [formGroup]="reactiveForm">
        <mat-form-field appearance="fill">
          <mat-label>Select a Rover</mat-label>
          <mat-select formControlName="rover">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Camera</mat-label>
          <mat-select formControlName="camera">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Sol</mat-label>
          <mat-select formControlName="sol">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-card-actions class="d-flex-end m-0">
            <button
              mat-raised-button
            >Submit
            </button>
          </mat-card-actions>
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>

